body {
    background-color: gray;
}

.wrapper {
    width: 400px;
}

.sprite {
    width: 200px;
    height: 200px;
    background: url(acti.jpg);
}

.column {
    width: 160px;
    padding: 20px;
    float: right;
}

.clear {
    clear: both;
}