body {
    background-color: blue;
    color: red;
    font-size: 48px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    
}

p {
    margin: 100px;
}

.paragraph2 {
    color: #35ff3f;
}

.one {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 60px;
    
}

.one:hover {
    background-color: lime;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

