body {
    background-color: gray;
}
wrapper {
    width: 900px;
}

.wrapper div {
    display: inline-block;
    width: 100px;
    height: 100px;
    
}

.one {
    background-color: #6495ED;
}
.one:hover {
       background-color: #008B8B;
}
.two {
    background-color: #6495ED;
}
.two:hover {
       background-color: #008B8B;
}
.three {
    background-color: #6495ED;
}
.three:hover {
       background-color: #008B8B;
}
.four {
    background-color: #6495ED;
}
.four:hover {
       background-color: #008B8B;
}
.five {
    background-color: #6495ED;
}
.five:hover {
       background-color: #008B8B;
}
.six {
    background-color: #6495ED;
}
.six:hover {
       background-color: #008B8B;
}
.seven {
    background-color: #6495ED;
}
.seven:hover {
       background-color: #008B8B;
}
.eight {
    background-color: #6495ED;
}
.eight:hover {
       background-color: #008B8B;
}
.nine {
    background-color: #6495ED;
}
.nine:hover {
       background-color: #008B8B;
}
