
.one {
    width: 300px;
    height: 200px;
    top: 100px;
	background-color: lime;
	transition: width 2s, height 2s, transform 2s;
}
one:hover {
    width: 200px;
    height: 200px;
    background-color: red;
    transform: rotate(180deg);
}

.two {
	width: 300px;
    height: 200px;
    top: 300px;
    left:-500px;
	background-color: yellow;
	transform: rotate(50deg);
	transition: 1s ease-in-out;
}
.showbox.slideright:hover {
    transform: translate(3em,0);
}
.three {
	width: 300px;
    height: 200px;
    top: 200px;
	background-color: blue;
 
}
 
.four {
	width: 300px;
    height: 200px;
    top: 400px;
	background-color: red;
}