body {
    background-image: url(image/snow.jpeg);
}
.i1 {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-image: url(image/cc.gif);
}
.i2 {
    width: 500px;
    height: 500px;
     position: absolute;
    left: 300px;
    top: 100px;
    z-index: 0;
    background-image: url(image/dd.gif);
}
.i3 {
     width: 500px;
    height: 500px;
    position: absolute;
    left:600px;
    top: 200px;
    z-index: 1;
    background-image: url(image/cc.gif);
}
.i4 {
    width: 500px;
    height: 500px;
     position: absolute;
    left: 800px;
    top: 300px;
    z-index: 2;
    background-image: url(image/dd.gif);
}
.i5 {
     position: absolute;
    left: 500px;
    top: 500px;
    z-index:3;
}
.i6 {
     position: absolute;
    left: 200px;
    top: 400px;
    z-index:4;
}
.a1 {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0px;
    top: 500px;
    z-index: -6;
    background-image: url(image/dd.gif);
}
.a2 {
    width: 500px;
    height: 500px;
     position: absolute;
    left: 300px;
    top: 600px;
    z-index: -5;
    background-image: url(image/cc.gif);
}
.a3 {
     width: 500px;
    height: 500px;
    position: absolute;
    left:600px;
    top: 700px;
    z-index: -4;
    background-image: url(image/dd.gif);
}
.a4 {
    width: 500px;
    height: 500px;
     position: absolute;
    left: 800px;
    top: 800px;
    z-index: -3;
    background-image: url(image/cc.gif);
}
.a5 {
     position: absolute;
    left: 300px;
    top: 900px;
    z-index:-2;
}