body {
    background-color: gray;
}
wrapper {
    width: 900px;
}

.wrapper div {
    display: inline-block;
    width: 100px;
    height: 100px;
    
}

.one {
    background-color: #6495ED;
}
.one:hover {
       background-color: #008B8B;
}
.two {
    background-color: #6495ED;
}
.two:hover {
       background-color: #008B8B;
}
.three {
    background-color: #6495ED;
}
.three:hover {
       background-color: #008B8B;
}
.four {
    background-color: #6495ED;
}
.four:hover {
       background-color: #008B8B;
}
.five {
    background-color: #6495ED;
}
.five:hover {
       background-color: #008B8B;
}
.six {
    background-color: #6495ED;
}
.six:hover {
       background-color: #008B8B;
}
.seven {
    background-color: #6495ED;
}
.seven:hover {
       background-color: #008B8B;
}
.eight {
    background-color: #6495ED;
}
.eight:hover {
       background-color: #008B8B;
}
.nine {
    background-color: #6495ED;
}
.nine:hover {
       background-color: #008B8B;
}
.ten {
    background-color: #6495ED;
}
.ten:hover {
       background-color: #008B8B;
}
.zero {
    background-color: #6495ED;
}
.zero:hover {
       background-color: #008B8B;
}
.zeroone {
    background-color: #6495ED;
}
.zeroone:hover {
       background-color: #008B8B;
}
.zerotwo {
    background-color: #6495ED;
}
.zerotwo:hover {
       background-color: #008B8B;
}
.zerothree {
    background-color: #6495ED;
}
.zerothree:hover {
       background-color: #008B8B;
}
.zerof {
    background-color: #6495ED;
}
.zerof:hover {
       background-color: #008B8B;
}
.zeroff {
    background-color: #6495ED;
}
.zeroff:hover {
       background-color: #008B8B;
}
.zeros {
    background-color: #6495ED;
}
.zeros:hover {
       background-color: #008B8B;
}
.z {
    background-color: #6495ED;
}
.z:hover {
       background-color: #008B8B;
}
.a {
    background-color: #6495ED;
}
.a:hover {
       background-color: #008B8B;
}
.b {
    background-color: #6495ED;
}
.b:hover {
       background-color: #008B8B;
}
.c {
    background-color: #6495ED;
}
.c:hover {
       background-color: #008B8B;
}
.d {
    background-color: #6495ED;
}
.d:hover {
       background-color: #008B8B;
}
.e {
    background-color: #6495ED;
}
.e:hover {
       background-color: #008B8B;
}
.f {
    background-color: #6495ED;
}
.f:hover {
       background-color: #008B8B;
}